.mywhite{
    background-color: white;
    border: 5px solid red;
    border-radius: 25px;
    /* height: 70vh; */
}
.dspac{
    display: flex;
    justify-content: space-around;
}
.imgcl img {
    max-height: 80%;
}

@media (max-width: 768px) {

  
    .imgcl img {
        max-height: 50%;
    }

 
  
}