.mywhite{
    background-color: white;
    border: 5px solid red;
    border-radius: 25px;
}
.dspac{
    display: flex;
    justify-content: space-around;
}
.img-count1 {
    max-height: 80%;
}

@media (max-width: 768px) {

  
    .img-count1 {
        max-height: 40%;
    }
   
  
}