#root{
    background-color: black!important;
    
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black!important;

}
html{
    background-color: black!important;
}